.table-container {
    outline: 1px solid rgb(230, 230, 230);
    width: 40%;
    margin: 30px auto;
    text-align: center;
}
.table {
    text-align: center;
    color: blueviolet;
}
.ant-table-thead > tr > th {
    background: #f23535 !important;
    color: white !important;
    text-align: center;
    font-size: 1rem;
}
a {
    color: black;
}
@media (max-width: 360px) {
    .table-container {
        width: 70%;
    }
    .global-container {
        /* background: green; */
        height: 1100px;
    }
}
