.container-card {
    /* outline: 2px solid blue; */
    width: 30%;
    height: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #146ea6;
    /* filter: drop-shadow(0 0 0.35rem #7abf9f); */
    color: white;
    border-radius: 8px;
    width: 30%;
    height: 40px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border: none;
}

.card {
    /* outline: 2px solid black; */
    border-radius: 20px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* filter: drop-shadow(0 0 0.45rem #f2cb05); */
}
.img-pokemon {
    /* outline: 2px solid green; */

    width: 50%;
    border-radius: 30%;
    /* background: rgb(255, 255, 255); */
    margin-bottom: 15px;
    filter: drop-shadow(0 0 0.45rem #ffffff);
}
h1 {
    /* outline: 2px solid orange; */
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 800;
}
.datos-container {
    width: 70%;
    height: 150px;
    /* outline: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
p {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    background: white;
    filter: drop-shadow(0 0 0.1rem #ffffff);

    border-radius: 8px;
    padding: 2px 0;
}

@media (max-width: 360px) {
    .container-card {
        width: 80% !important;
        margin: auto;
    }
    .card {
        height: 500px;
        margin-bottom: 40px;
    }
    p {
        width: 80%;
        font-size: 1.2rem;
    }
}
